#add-content {
  width: 100%;

  & > button {
    background-color: #000d;
    padding-top: 15px;
    padding-bottom: 13px;
    width: 200px;
    max-width: 40%;
    box-sizing: border-box;
    margin: 5px 10px;
    margin-bottom: 20px;
    font-size: 0.9em;
    font-weight: 600;
    border-bottom: solid 2px transparent;
    color: #ddd;
    transition: all ease-out 200ms;
  }
  & > button:hover {
    background-color: #111d;
    color: #fff;
  }
  & > button.selected {
    border-bottom-color: #f7047f;
  }
}
