#add-image {
  #upload-image-button {
    background-color: #016cc7;
    color: #eee;
    font-size: 0.9em;
    padding: 10px 19px;
    border-radius: 5px;
    font-weight: 600;
  }
  #upload-image-button:hover {
    color: #fff;
    background-color: #0d7ede;
  }
}
