.uploaded-image-container {
  background-color: #eee;
  margin: 15px;

  & > div{
    display: inline-block;
    box-sizing: border-box;
  }

  .image-box{
    width: 300px;
  }

  .options-box{
    width: calc(100% - 300px);
    height: 100%;
    vertical-align: top;
    text-align: left;
    padding: 12px;
  }

  img {
    width: 100%;
    vertical-align: bottom;
  }

  button {
    border: 1px solid black;
  }

  button.disabled {
    pointer-events: none;
    opacity: 0.5;
  }

}