#login {
  background-color: #51FB62;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  width: 400px;
  height: 500px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  padding: 20px;
  box-sizing: border-box;
}
#login-logo {
  text-decoration: none;
  color: black;
  font-size: 3em;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1.2em; 
  margin-bottom: 25px;
}

#login-button {
  padding: 0 35px;
  line-height: 50px;
  text-decoration: none;
  color: black;
  font-size: 1.1em;
  font-weight: 500;
  text-transform: uppercase;
  border: none;
  background-color: #fff7;
  position: absolute;
  bottom: 60px;
  left: 50%;
  transform: translateX(-50%);
}
#login-button:hover, #login-button:focus {
  background-color: #fffb;
}
.login-fields {
  display: block;
  text-align: right;
  margin-right: 50px;
}
.login-fields input {
  font-size: 0.9em;
  padding: 7px;
  margin-left: 7px;
  border: none;
  border-radius: 2px;
  width: 180px;
  margin-top: 15px;
}
#toggle-form-button {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px 25px;
  font-size: 0.8em;
  bottom: 17px;
}
#toggle-form-button:hover {
  text-decoration: underline;
}