*:focus {
  outline: none;
}

body {
  font-family: Roboto;
}
button {
  font-family: inherit;
  color: inherit;
  background: none;
  border: none;
  cursor: pointer;
}

#navbar {
  /* background-color: #5ce65c; */
  background-color: #51FB62;
  height: 40px;
  position: fixed;
  width: 100%;
  box-shadow: 0px -1px 4px 1px black;
  padding: 0 12px;
  box-sizing: border-box;
  z-index: 1;
}

#logo {
  text-decoration: none;
  color: black;
  font-size: 1.5em;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 40px;
}

.nav-link {
  float: right;
  padding: 0 25px;
  line-height: 40px;
  text-decoration: none;
  color: black;
  font-size: 0.8em;
  font-weight: 500;
  text-transform: uppercase;
  border: none;
  background: transparent;
}

.nav-link:hover, .nav-link:focus{
  /* text-decoration: underline; */
  background-color: #ffffff77;
}

#sidebar, #main-content {
  height: calc(100vh - 40px);
  display: inline-block;
  overflow-y: scroll;
  overflow-x: hidden;
  bottom: 0;
  position: fixed;
  padding: 12px 24px;
  box-sizing: border-box;
}

#sidebar {
  padding: 12px 0;
  width: 220px;
  background-color: #eee;
}

/* Scrollbar for sidebar */
html {
  --scrollbarBG: #0001;
  --thumbBG: #0004;
  --scrollbarWidth: 0px;
}
#sidebar::-webkit-scrollbar {
  width: var(--scrollbarWidth);
}
#sidebar::-webkit-scrollbar-track {
  background: var(--scrollbarBG);
}
#sidebar::-webkit-scrollbar-thumb {
  background-color: var(--thumbBG);
}
/* Firefox, IE */
#sidebar {
  scrollbar-width: var(--scrollbarWidth);
  scrollbar-color: var(--thumbBG) var(--scrollbarBG);
}


#main-content{
  width: calc(100vw - 220px);
  left: 220px;
  text-align: center;
}

#login {
  background-color: #51FB62;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  width: 400px;
  height: 500px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  padding: 20px;
  box-sizing: border-box;
}

#login-logo {
  text-decoration: none;
  color: black;
  font-size: 3em;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1.2em; 
  margin-bottom: 45px;
}

#login-button {
  padding: 0 35px;
  line-height: 50px;
  text-decoration: none;
  color: black;
  font-size: 1.1em;
  font-weight: 500;
  text-transform: uppercase;
  border: none;
  background-color: #fff7;
  position: absolute;
  bottom: 60px;
  left: 50%;
  transform: translateX(-50%);
}
#login-button:hover, #login-button:focus {
  background-color: #fffb;
}
.login-fields {
  display: block;
  text-align: right;
  margin-right: 50px;
}
.login-fields input {
  font-size: 0.9em;
  padding: 7px;
  margin-left: 7px;
  border: none;
  border-radius: 2px;
  width: 180px;
  margin-top: 15px;
}

.sidebar-link{
  display: block;
  color: #000b;
  padding: 10px 17px 10px 12px;
  text-decoration: none;
  border-bottom: 1px solid #0003;
  font-size: 0.85em;
  width: 100%;
  transition: all ease-out 200ms;
  box-shadow: inset 0 0 0 0 #f7047f;
  text-align: left;
  max-height: 150px;
  overflow: hidden;
  position: relative;
}
.sidebar-link:not(.selected):after {
  content: "";
  text-align: right;
  position: absolute;
  top: calc(150px - 1.6em);
  left: 0px;
  width: 100%;
  height: 1.6em;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgb(238, 238, 238) 50%);
}
.sidebar-link:hover {
  background-color: #fff8;
}
.sidebar-link.selected {
  background-color: #fff;
  box-shadow: inset -5px 0 0 0 #f7047f;
  padding: 18px 17px 18px 12px;
  color: #000;
  cursor: initial;
  max-height: 1000px;
}

#sidebar-heading {
  border-bottom: 1px solid #0003;
  padding-bottom: 8px;
}
.sidebar-heading-link{
  border: none;
  background: none;
  padding: 0 12px;
  font-family: inherit;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 0.8em;
  color: #0008;
  margin-top: 4px;
}

.idea-wrapper{
  display: inline-table;
  text-align: center;
  border-spacing: 0;
  outline: 10px solid #eee;
  outline-offset: -10px;
}
.idea-wrapper img{
  height: 300px;
  display: table-cell;
}
.idea-wrapper .idea-text{
  display: table-caption;
  caption-side: bottom;
  background-color: #0001;
  margin: 0;
  padding: 15px 22px;
  text-align: left;
}

#generator-bar {
  background-color: #5424a9;
  color: #fffd;
  padding: 18px 32px;
  border-radius: 150px;
  margin-bottom: 12px;
  text-align: left;
}
#generate-button {
  padding: 10px 16px;
  font-size: 0.9em;
  font-weight: 700;
  background-color: #fff2;
  /* border-radius: 5px; */
}
#generate-button:hover, #generate-button:active {
  background-color: #fff3;
  color: white;
}

/* overrides until the bar has more stuff in it */
#generator-bar {
  display: inline-block;
  padding: 0;
}
#generate-button {
  background: none;
}
#generate-button:hover, #generate-button:active {
  background-color: #fff2;
}
