body {
  font-family: Roboto;
}

#navbar {
  /* background-color: #5ce65c; */
  background-color: #51FB62;
  height: 40px;
  position: fixed;
  width: 100%;
  box-shadow: 0px -1px 4px 1px black;
  padding: 0 12px;
  box-sizing: border-box;
  z-index: 1;
}

#logo {
  text-decoration: none;
  color: black;
  font-size: 1.5em;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 40px;
}

.nav-link {
  float: right;
  padding: 0 25px;
  line-height: 40px;
  text-decoration: none;
  color: black;
  font-size: 0.8em;
  font-weight: 500;
  text-transform: uppercase;
  border: none;
  background: transparent;
  cursor: pointer;
}

.nav-link:hover{
  /* text-decoration: underline; */
  background-color: #ffffff77;
}

#sidebar, #main-content {
  height: calc(100vh - 40px);
  display: inline-block;
  overflow: scroll;
  bottom: 0;
  position: fixed;
  padding: 12px;
  box-sizing: border-box;
}

#sidebar {
  width: 220px;
  background-color: #eee;
}

#main-content{
  width: calc(100vw - 220px);
  left: 220px;
}

#login {
  background-color: #51FB62;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  width: 400px;
  height: 500px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  padding: 20px;
  box-sizing: border-box;
}

#login-logo {
  text-decoration: none;
  color: black;
  font-size: 3em;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1.2em; 
  margin-bottom: 45px;
}

#login-button {
  padding: 0 35px;
  line-height: 50px;
  text-decoration: none;
  color: black;
  font-size: 1.1em;
  font-weight: 500;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
  background-color: #fff5;
  position: absolute;
  bottom: 60px;
  left: 50%;
  transform: translateX(-50%);
}
#login-button:hover {
  background-color: #fff9;
}
.login-fields {
  display: block;
  text-align: right;
  margin-right: 50px;
}
.login-fields input {
  font-size: 0.9em;
  padding: 7px;
  margin-left: 7px;
  border: none;
  border-radius: 2px;
  width: 180px;
  margin-top: 15px;
}